{% set resource = hookable_metadata.context.resource  %}

{% if resource.isGoogleAuthenticatorEnabled() == false %}
<a href="{{ path('bitexpert_sylius_2fa_admin_setup_2fa') }}" class="btn btn-primary w-100 mt-3">{{ 'bitexpert_sylius_twofactor.admin.form.google.activate'|trans }}</a>
{% else %}
<a href="#" class="btn btn-secondary w-100 mt-3">{{ 'bitexpert_sylius_twofactor.admin.form.google.disable'|trans }}</a>
{% endif %}
