{% set showTwoFactorDialog = hookable_metadata.context.can_configure_2fa|default(false)  %}

{% if showTwoFactorDialog %}
<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'bitexpert_sylius_twofactor.admin.form.2fa_headline'|trans }}
        </div>
    </div>
    <div class="card-body">
        {% hook '2fa' %}
    </div>
</div>
{% endif %}
